    body {
        width: 100%;
        height: 100%;
        background: rgb(42, 40, 43);
        color: rgb(207, 199, 199);
    }
    
    a,
    a:link {
        color: rgb(133, 129, 129);
    }
    
    .pdf-viewer {
        width: 90%;
        height: 100%;
        min-height: 50vh;
    }
    
    main {
        min-width: 100vh;
        min-height: 100vh;
        display: grid;
    }
    
    .first {
        min-width: 100vh;
        grid-column-start: 2;
        grid-row-end: 2;
    }
    
    .exercises {
        grid-column-start: 1;
        grid-row: 3;
    }
    
    nav {
        min-width: 10vh;
        grid-column: 1;
        grid-row: 1;
    }
    
    table {
        background: rgba(49, 56, 68, 0.267);
        color: wheat;
    }
    
    td,
    th {
        text-align: center;
    }
    
    .green {
        color: rgb(47, 168, 47);
    }
    
    .red {
        color: rgb(199, 32, 32);
    }
    
    .yellow {
        color: rgb(218, 218, 27);
    }
    /* 
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /*background-color: #2196F3;
    padding: 10px;


}

.grid-item {
    /*background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
*/